#par3{
    background-color: green;
}

#par2{
    background-color: hotpink;
}

#par5{
    background-color: red;
}

.ortak{
    background-color: olive;
    background-color: aqua;
    background-color: blueviolet;
    background-color: orange;
}

